@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, button, input {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: whitesmoke;
}

a, button, h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: #151515;
}