<a
  href="{{href}}"
  style="background-color:#000000; text-decoration: none; padding: .75em 2em; color: #ffffff; display:inline-block; border-radius:.75em; mso-padding-alt:0;text-underline-color:#000000; text-align: center;"
><!--[if mso]><i style="mso-font-width:200%;mso-text-raise:150%" hidden>&emsp;</i><span style="mso-text-raise:75%;"><![endif]--><b
  >{{text}}</b><!--[if mso]></span><i style="mso-font-width:200%;" hidden>&emsp;&#8203;</i><![endif]--></a>